<launch>
	<arg name="draw" default="True"/>
	<arg name="threshold" default="0.3"/>
	<arg name="max_chain" default="3"/>
	<arg name="x" default="0.7"/>
	<arg name="path_ur" default="/home/jacopo/URProject"/>
	<arg name="undistort" default="True"/>
	<arg name="debug" default="False"/>

	<node name="simulator_node" pkg="hands-free-project" type="start_robot.sh" output="screen">
	</node>
	
	<node name="hands_free_node" pkg="hands-free-project" type="Main.py" output="screen" launch-prefix="gnome-terminal --command">
		<param name="draw" value="$(arg draw)" type="bool"/>
		<param name="threshold" value="$(arg threshold)" type="double"/> 
		<param name="max_chain" value="$(arg max_chain)" type="int"/> 
		<param name="x" value="$(arg x)" type="double"/> 
		<param name="path_ur" value="$(arg path_ur)" type="str"/>
		<param name="undistort" value="$(arg undistort)" type="bool"/> 
		<param name="debug" value="$(arg debug)" type="bool"/> 
	</node>

</launch>

