<launch>
	<arg name="draw" default="True"/>
	<arg name="threshold" default="0.3"/>
	<arg name="x" default="0.7"/>
	<arg name="path_ur" default="/home/jacopo/URProject"/>
	<arg name="undistort" default="True"/>
	<arg name="debug" default="False"/>

	<node name="simulator_robot" pkg="hands-free-project" type="start_robot_real.sh" 		output="screen"> 
	</node>
	
	<node pkg="hands_free" type="Main.py" name="hands_free_node" output="screen">
		<param name="draw" value="$(arg draw)" type="bool"/>
		<param name="threshold" value="$(arg threshold)" type="double"/> 
		<param name="x" value="$(arg x)" type="double"/> 
		<param name="path" value="$(arg path)" type="str"/>
		<param name="undistort" value="$(arg undistort)" type="bool"/> 
		<param name="debug" value="$(arg debug)" type="bool"/> 
	</node>

</launch>

